<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-appid" class="control-label col-xs-12 col-sm-2">{:__('Appid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-appid" data-rule="required" class="form-control" name="row[appid]" type="text" value="{$row.appid}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-appsecret" class="control-label col-xs-12 col-sm-2">{:__('Appsecret')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-appsecret" class="form-control" name="row[appsecret]" type="text" value="{$row.appsecret}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-column_switch" class="control-label col-xs-12 col-sm-2">{:__('Column_switch')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-column_switch" data-rule="required" class="form-control selectpicker" name="row[column_switch]">
                {foreach name="columnSwitchList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.column_switch"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
